<!DOCTYPE html>
<html>
<head>
  <title>To-do List</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
  <div class="container" id="to_do">
    <%= yield %>
  </div>
</body>
</html>
